# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

imgui.ini


ManiSkill2_real2sim/mani_skill2_real2sim/examples/demo_grasp_motion_plan.py
ManiSkill2_real2sim/mani_skill2_real2sim/examples/example_grasp_motion_plan.py